discord.py                                                                                                                                                                              │
python-dotenv
aiohttp
